@model IEnumerable<BusBooking.Models.Price>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cost)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Bus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bus.BusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.TypeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PriceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PriceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PriceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
